/* Page Layout */
body {
  background: #d3e0fa; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

.container{
  margin: 20px 0px 50px;
}

/* Container */
h1 {
  text-align: center;
  padding: 20px;
  background: #0077ff;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

/* Section Heading */
h2 {
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  border-left: 6px solid #0077ff;
  margin-top: 25px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.08);
}

/* Sub Heading */
h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Paragraph Styling */
p {
  margin: 5px 0 12px 0;
  padding-left: 10px;
  border-left: 3px solid #e0e0e0;
  color: #444;
}

/* Example Box */
.example-box {
  background: #eef6ff;
  padding: 10px;
  border-radius: 6px;
  border-left: 4px solid #0077ff;
  font-family: monospace;
  color: #333;
  margin-bottom: 15px;
}

/* List Styling */
ul {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.06);
  border-left: 4px solid #0077ff;
}

ul li {
  margin: 5px 0;
  padding: 5px 0;
}
